<%if (typeof msg != 'undefined'){%>

    <div class="alert alert-success alert-dismissible fade show h-25" role="alert">
        <%= msg%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


<%}%>