<%if (typeof errors != 'undefined'){%>
    <%for(let i =0 ; i<errors.length; i++){%>
        <div class="alert alert-warning alert-dismissible fade show h-25" role="alert">
            <%= errors[i]%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    <%}%>
<%}%>